<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Bird</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/agency.css' %}">
</head>

<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">BlueBird</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="">TOURS</a>
            <a class="p-2 text-dark" href="plans">PLANS</a>
            <a class="p-2 text-dark" href="blog">BLOG</a>
            <a class="p-2 text-dark" href="about">ABOUT US</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Contact us</a>
    </div>

</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Travel with us!</h1>
            <p class="lead text-muted">
                Plan your holidays in Europe with us and get ready for an unforgettable adventure, competitive offers
                are waiting for you!
            </p>

            <p>
                <a href="#" class="btn btn-primary my-2">Plan your trip</a>
                <a href="#" class="btn btn-secondary my-2">Contact us</a>
            </p>
        </div>
    </section>


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {#            {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}#}
                        {% load static %}
                        <img src="{% static 'assets/alps.jpg' %}" alt="Alps">
                        <div class="card-body">
                            <p class="card-text">Travel amidst the most beautiful mountain landscapes in Switzerland and
                                Austria!.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                                    {#                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>#}
                                </div>
                                <small class="text-muted">799$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {#            {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}#}
                        {% load static %}
                        <img src="{% static 'assets/france.jpg' %}" alt="Alps">
                        <div class="card-body">
                            <p class="card-text">
                                Travel amidst the most beautiful mountain landscapes in Switzerland and
                                Austria!.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                                    {#                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>#}
                                </div>
                                <small class="text-muted">549$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {#            {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %}#}
                        {% load static %}
                        <img src="{% static 'assets/germany.jpg' %}" alt="Alps">
                        <div class="card-body">
                            <p class="card-text">
                                Travel amidst the most beautiful mountain landscapes in Switzerland and
                                Austria!.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                                    {#                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>#}
                                </div>
                                <small class="text-muted">649$</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <h5>
            Our Home
        </h5>
        <p>
            The Garden Room, 25 Polnoon Avenue, Glasgow G13 3HQ, Scotland, UK
        </p>
    </div>
</footer>
</html>